In [16]:
import os
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from IPython.core.display import display

data_path = os.path.join(os.path.dirname(os.getcwd()), "data", "CreditTraining.csv")
df = pd.read_csv(data_path)

In [17]:
display(df.head())

,Id_Customer,Y,Customer_Type,BirthDate,Customer_Open_Date,P_Client,Educational_Level,Marital_Status,Number_Of_Dependant,Years_At_Residence,Net_Annual_Income,Years_At_Business,Prod_Sub_Category,Prod_Decision_Date,Source,Type_Of_Residence,Nb_Of_Products,Prod_Closed_Date,Prod_Category
0,7440,0,Non Existing Client,07/08/1977,13/02/2012,NP_Client,University,Married,3.0,1,36,1.0,C,14/02/2012,Sales,Owned,1,NaN,B
1,573,0,Existing Client,13/06/1974,04/02/2009,P_Client,University,Married,0.0,12,18,2.0,C,30/06/2011,Sales,Parents,1,NaN,G
2,9194,0,Non Existing Client,07/11/1973,03/04/2012,NP_Client,University,Married,2.0,10,36,1.0,C,04/04/2012,Sales,Owned,1,NaN,B
3,3016,1,Existing Client,08/07/1982,25/08/2011,NP_Client,University,Married,3.0,3,36,1.0,C,07/09/2011,Sales,New rent,1,31/12/2012,L
4,6524,0,Non Existing Client,18/08/1953,10/01/2012,NP_Client,University,Married,2.0,1,36,1.0,C,11/01/2012,Sales,Owned,1,NaN,D

In [18]:
display(df.describe(include="all"))

,Id_Customer,Y,Customer_Type,BirthDate,Customer_Open_Date,P_Client,Educational_Level,Marital_Status,Number_Of_Dependant,Years_At_Residence,Net_Annual_Income,Years_At_Business,Prod_Sub_Category,Prod_Decision_Date,Source,Type_Of_Residence,Nb_Of_Products,Prod_Closed_Date,Prod_Category
count,5380.000000,5380.000000,5380,5380,5380,5380,5380,5380,5378.000000,5380.000000,5378,5378.000000,5380,5380,5380,5380,5380.000000,1174,5380
unique,NaN,NaN,2,4382,1244,2,4,5,NaN,NaN,522,NaN,3,276,2,5,NaN,331,13
top,NaN,NaN,Non Existing Client,01/01/1973,05/12/2011,NP_Client,University,Married,NaN,NaN,36,NaN,C,06/12/2011,Sales,Owned,NaN,30/05/2013,B
freq,NaN,NaN,3369,7,39,4968,4785,4206,NaN,NaN,1807,NaN,4638,48,4119,4791,NaN,98,3176
mean,4784.535688,0.073048,NaN,NaN,NaN,NaN,NaN,NaN,1.058572,12.626022,NaN,4.266270,NaN,NaN,NaN,NaN,1.089033,NaN,NaN
std,2781.436262,0.260240,NaN,NaN,NaN,NaN,NaN,NaN,1.339001,9.972164,NaN,7.225926,NaN,NaN,NaN,NaN,0.297587,NaN,NaN
min,1.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
25%,2368.500000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,4.000000,NaN,1.000000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
50%,4762.500000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,10.000000,NaN,1.000000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
75%,7180.250000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,18.000000,NaN,4.000000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
max,9605.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,20.000000,70.000000,NaN,98.000000,NaN,NaN,NaN,NaN,3.000000,NaN,NaN

In [22]:
print("Information about Y")
print("Possible values:", df.Y.unique(), end="\n\n")
print(df.Y.value_counts(), end="\n\n")

Information about Y
Possible values: [0 1]

0    4987
1     393
Name: Y, dtype: int64

In [ ]:
display(df[~df["Net_Annual_Income"].isna()])

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df.drop("Y", axis=1), df["Y"], test_size=0.1, random_state=7)
# display(X_train)
# display(y_train)
df_train = pd.concat([y_train, X_train], axis=1).reset_index(drop=True)
df_test = pd.concat([y_test, X_test], axis=1).reset_index(drop=True)
display(df_train)
display(df_test)
print(df_train["Y"].value_counts()/df_train.shape[0])
print(df_test["Y"].value_counts()/df_test.shape[0])

In [ ]:
print(df.dtypes)
print(df["Number_Of_Dependant"].unique())
df["Number_Of_Dependant"].astype("int64")
print(df["Number_Of_Dependant"].dtype)
print(df[])

In [21]:
print(df.dtypes)
print(df["Number_Of_Dependant"].unique())
df["Number_Of_Dependant"].astype("int64")
print(df["Number_Of_Dependant"].dtype)
print(df[])

,Id_Customer,Y,Customer_Type,BirthDate,Customer_Open_Date,P_Client,Educational_Level,Marital_Status,Number_Of_Dependant,Years_At_Residence,Net_Annual_Income,Years_At_Business,Prod_Sub_Category,Prod_Decision_Date,Source,Type_Of_Residence,Nb_Of_Products,Prod_Closed_Date,Prod_Category
0,7440,0,Non Existing Client,07/08/1977,13/02/2012,NP_Client,University,Married,3.0,1,36,1.0,C,14/02/2012,Sales,Owned,1,NaN,B
1,573,0,Existing Client,13/06/1974,04/02/2009,P_Client,University,Married,0.0,12,18,2.0,C,30/06/2011,Sales,Parents,1,NaN,G
2,9194,0,Non Existing Client,07/11/1973,03/04/2012,NP_Client,University,Married,2.0,10,36,1.0,C,04/04/2012,Sales,Owned,1,NaN,B
3,3016,1,Existing Client,08/07/1982,25/08/2011,NP_Client,University,Married,3.0,3,36,1.0,C,07/09/2011,Sales,New rent,1,31/12/2012,L
4,6524,0,Non Existing Client,18/08/1953,10/01/2012,NP_Client,University,Married,2.0,1,36,1.0,C,11/01/2012,Sales,Owned,1,NaN,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5375,5389,0,Non Existing Client,09/04/1976,19/10/2011,NP_Client,University,Married,2.0,1,36,1.0,G,25/11/2011,Sales,Owned,1,NaN,C
5376,1358,1,Existing Client,27/05/1982,22/06/2011,NP_Client,University,Married,3.0,15,"24,816",1.0,C,11/07/2011,Sales,Owned,1,31/10/2012,L
5377,2502,0,Non Existing Client,19/10/1950,15/08/2011,NP_Client,University,Divorced,0.0,14,"14,4",30.0,C,16/08/2011,Branch,Old rent,1,31/03/2013,B
5378,6712,0,Non Existing Client,01/08/1983,15/01/2012,NP_Client,University,Married,1.0,1,36,1.0,G,19/01/2012,Sales,Owned,1,NaN,C
5379,4329,0,Non Existing Client,25/05/1982,16/10/2011,NP_Client,University,Married,0.0,15,30,1.0,C,24/10/2011,Sales,Owned,1,NaN,B

In [41]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df.drop("Y", axis=1), df["Y"], test_size=0.1, random_state=7)
# display(X_train)
# display(y_train)
df_train = pd.concat([y_train, X_train], axis=1).reset_index(drop=True)
df_test = pd.concat([y_test, X_test], axis=1).reset_index(drop=True)
display(df_train)
display(df_test)
print(df_train["Y"].value_counts()/df_train.shape[0])
print(df_test["Y"].value_counts()/df_test.shape[0])

,Y,Id_Customer,Customer_Type,BirthDate,Customer_Open_Date,P_Client,Educational_Level,Marital_Status,Number_Of_Dependant,Years_At_Residence,Net_Annual_Income,Years_At_Business,Prod_Sub_Category,Prod_Decision_Date,Source,Type_Of_Residence,Nb_Of_Products,Prod_Closed_Date,Prod_Category
0,0,2246,Non Existing Client,17/05/1969,21/07/2011,NP_Client,University,Married,2.0,1,36,1.0,C,16/08/2011,Sales,Owned,1,NaN,B
1,0,5138,Existing Client,21/03/1976,08/05/2006,P_Client,University,Married,0.0,10,18,2.0,C,07/12/2011,Sales,Owned,1,NaN,B
2,0,1096,Non Existing Client,06/03/1964,02/06/2011,NP_Client,University,Married,3.0,10,18,1.0,C,28/06/2011,Sales,Owned,1,NaN,B
3,0,8413,Non Existing Client,27/01/1972,11/03/2012,NP_Client,University,Married,3.0,1,36,1.0,C,12/03/2012,Sales,Owned,1,NaN,D
4,0,3511,Non Existing Client,06/08/1961,26/09/2011,NP_Client,University,Married,0.0,1,36,1.0,C,27/09/2011,Sales,Owned,1,NaN,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4837,0,1074,Non Existing Client,22/02/1973,21/06/2011,NP_Client,University,Married,4.0,15,20,1.0,C,26/06/2011,Sales,Owned,1,NaN,B
4838,0,8514,Non Existing Client,28/11/1970,15/03/2012,NP_Client,University,Married,2.0,1,36,1.0,C,18/03/2012,Sales,Owned,1,NaN,B
4839,0,1739,Non Existing Client,10/04/1974,11/05/2006,NP_Client,University,Married,0.0,30,18,30.0,C,26/07/2011,Sales,Owned,1,NaN,B
4840,0,1128,Non Existing Client,03/09/1953,19/06/2011,NP_Client,University,Single,0.0,10,36,3.0,C,28/06/2011,Sales,Old rent,1,NaN,D
4841,0,7322,Non Existing Client,24/11/1962,07/02/2012,NP_Client,University,Married,0.0,15,36,1.0,C,08/02/2012,Sales,Owned,1,NaN,B

,Y,Id_Customer,Customer_Type,BirthDate,Customer_Open_Date,P_Client,Educational_Level,Marital_Status,Number_Of_Dependant,Years_At_Residence,Net_Annual_Income,Years_At_Business,Prod_Sub_Category,Prod_Decision_Date,Source,Type_Of_Residence,Nb_Of_Products,Prod_Closed_Date,Prod_Category
0,0,6453,Existing Client,05/01/1964,10/01/2012,NP_Client,Master/PhD,Divorced,1.0,11,72,1.0,C,26/01/2012,Sales,Owned,1,NaN,C
1,0,7091,Existing Client,15/03/1985,03/03/2011,P_Client,University,Single,2.0,10,18,10.0,C,30/01/2012,Branch,Owned,1,NaN,G
2,0,710,Existing Client,10/02/1955,19/05/2011,NP_Client,University,Married,0.0,20,"24,828",15.0,C,28/06/2011,Sales,Owned,1,NaN,L
3,0,5627,Non Existing Client,04/06/1976,07/12/2011,NP_Client,University,Married,2.0,5,25,1.0,C,11/12/2011,Sales,Owned,1,NaN,D
4,0,1307,Existing Client,28/05/1985,08/09/2010,P_Client,University,Single,0.0,15,"21,288",1.0,C,12/07/2011,Sales,Owned,1,NaN,G
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
533,0,753,Existing Client,21/11/1979,02/06/2011,NP_Client,University,Married,1.0,3,"103,752",6.0,C,08/06/2011,Sales,Old rent,1,NaN,L
534,0,7818,Existing Client,20/02/1969,31/05/2006,NP_Client,University,Married,3.0,4,200,3.0,P,13/03/2012,Branch,Owned,1,NaN,E
535,0,3149,Non Existing Client,07/09/1977,11/09/2011,NP_Client,University,Married,0.0,15,30,1.0,C,15/09/2011,Sales,Owned,1,NaN,D
536,1,4717,Existing Client,31/05/1974,24/10/2011,NP_Client,Master/PhD,Single,0.0,15,50,7.0,G,22/11/2011,Sales,Owned,1,30/09/2012,C
537,0,2450,Non Existing Client,16/08/1983,09/08/2011,NP_Client,University,Married,1.0,1,36,1.0,C,11/08/2011,Branch,Owned,1,07/05/2012,B

0    0.927922
1    0.072078
Name: Y, dtype: float64
0    0.918216
1    0.081784
Name: Y, dtype: float64

In [38]:
print(df.dtypes)
print(df["Number_Of_Dependant"].unique())
df["Number_Of_Dependant"].astype("int64")
print(df["Number_Of_Dependant"].dtype)
print(df[])

Id_Customer              int64
Y                        int64
Customer_Type           object
BirthDate               object
Customer_Open_Date      object
P_Client                object
Educational_Level       object
Marital_Status          object
Number_Of_Dependant    float64
Years_At_Residence       int64
Net_Annual_Income       object
Years_At_Business      float64
Prod_Sub_Category       object
Prod_Decision_Date      object
Source                  object
Type_Of_Residence       object
Nb_Of_Products           int64
Prod_Closed_Date        object
Prod_Category           object
dtype: object
[ 3.  0.  2.  4.  1.  5.  7.  6. 20. nan 12.]

ValueError: Cannot convert non-finite values (NA or inf) to integer