In [1]:
import os
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from IPython.core.display import display

data_path = os.path.join(os.path.dirname(os.getcwd()), "data", "CreditTraining.csv")
df = pd.read_csv(data_path)

In [2]:
display(df.head())

,Id_Customer,Y,Customer_Type,BirthDate,Customer_Open_Date,P_Client,Educational_Level,Marital_Status,Number_Of_Dependant,Years_At_Residence,Net_Annual_Income,Years_At_Business,Prod_Sub_Category,Prod_Decision_Date,Source,Type_Of_Residence,Nb_Of_Products,Prod_Closed_Date,Prod_Category
0,7440,0,Non Existing Client,07/08/1977,13/02/2012,NP_Client,University,Married,3.0,1,36,1.0,C,14/02/2012,Sales,Owned,1,NaN,B
1,573,0,Existing Client,13/06/1974,04/02/2009,P_Client,University,Married,0.0,12,18,2.0,C,30/06/2011,Sales,Parents,1,NaN,G
2,9194,0,Non Existing Client,07/11/1973,03/04/2012,NP_Client,University,Married,2.0,10,36,1.0,C,04/04/2012,Sales,Owned,1,NaN,B
3,3016,1,Existing Client,08/07/1982,25/08/2011,NP_Client,University,Married,3.0,3,36,1.0,C,07/09/2011,Sales,New rent,1,31/12/2012,L
4,6524,0,Non Existing Client,18/08/1953,10/01/2012,NP_Client,University,Married,2.0,1,36,1.0,C,11/01/2012,Sales,Owned,1,NaN,D

In [3]:
display(df.describe(include="all"))

,Id_Customer,Y,Customer_Type,BirthDate,Customer_Open_Date,P_Client,Educational_Level,Marital_Status,Number_Of_Dependant,Years_At_Residence,Net_Annual_Income,Years_At_Business,Prod_Sub_Category,Prod_Decision_Date,Source,Type_Of_Residence,Nb_Of_Products,Prod_Closed_Date,Prod_Category
count,5380.000000,5380.000000,5380,5380,5380,5380,5380,5380,5378.000000,5380.000000,5378,5378.000000,5380,5380,5380,5380,5380.000000,1174,5380
unique,NaN,NaN,2,4382,1244,2,4,5,NaN,NaN,522,NaN,3,276,2,5,NaN,331,13
top,NaN,NaN,Non Existing Client,01/01/1982,05/12/2011,NP_Client,University,Married,NaN,NaN,36,NaN,C,06/12/2011,Sales,Owned,NaN,30/05/2013,B
freq,NaN,NaN,3369,7,39,4968,4785,4206,NaN,NaN,1807,NaN,4638,48,4119,4791,NaN,98,3176
mean,4784.535688,0.073048,NaN,NaN,NaN,NaN,NaN,NaN,1.058572,12.626022,NaN,4.266270,NaN,NaN,NaN,NaN,1.089033,NaN,NaN
std,2781.436262,0.260240,NaN,NaN,NaN,NaN,NaN,NaN,1.339001,9.972164,NaN,7.225926,NaN,NaN,NaN,NaN,0.297587,NaN,NaN
min,1.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
25%,2368.500000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,4.000000,NaN,1.000000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
50%,4762.500000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,10.000000,NaN,1.000000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
75%,7180.250000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,18.000000,NaN,4.000000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
max,9605.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,20.000000,70.000000,NaN,98.000000,NaN,NaN,NaN,NaN,3.000000,NaN,NaN

In [13]:
print("Information about Y")
print("Possible values:", df.Y.unique(), end="\n\n")
print(df.Y.value_counts(), end="\n\n")
print("0\t", 100*round(1-df.Y.sum()/df.shape[0], 3), "%")
print("1\t", 100*round(df.Y.sum()/df.shape[0], 3), "%")

Information about Y
Possible values: [0 1]

0    4987
1     393
Name: Y, dtype: int64

0	 92.7 %
1	 7.3 %

$$
\dfrac{a}{b}
$$